NODE_ENV=development

# PostgreSQL
POSTGRES_USER=linkora
POSTGRES_PASSWORD=linkora
POSTGRES_DB=linkora
DATABASE_URL=postgresql://linkora:linkora@postgres:5432/linkora

# Stellar
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
CONTRACT_ID=CXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
START_LEDGER=0

# Indexer API
PORT=3000
